<div class="container">
    <div class="row m-3">
        <label for="diagnosisSearch" class="form-label"><h3>Diagnosis</h3></label>
        <div class="col-3">
            <input type="text"
                  class="form-control" placeholder="Search Diagnosis" #filter>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" (click)="filterResults(filter.value)">Search</button>
        </div>
    </div>

    <div class="conatiner">
        <div class="table-responsive">
            <table class="table table-primary" *ngIf="filteredResultsList.length > 0">
                <thead>
                    <tr>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Visitig Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let results of filteredResultsList; index as i">
                        <td scope="row">{{i}}</td>
                        <td>results.doctorsName</td>
                        <td>results.specialization</td>
                        <td>results.visitingHours</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
