<app-header></app-header>
<app-nav></app-nav>
<div class="container">
    <div class="row m-3">
        <label for="diagnosisSearch" class="form-label">
            <h3>Diagnosis</h3>
        </label>
        <div class="col-3">
            <div class="mb-3">
                <select class="form-select form-select-lg" name="department" #filter>
                    <option value="default" selected>--select diagnosis--</option>
                    <option value="{{result.dept_name}}" *ngFor="let result of departments">{{result.dept_name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" (click)="filterResults(filter.value)">Search</button>
        </div>
    </div>

    <div class="conatiner">
        <div class="table-responsive">
            <table class="table table-primary" *ngIf="filteredResultsList.length > 0">
                <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Visitig Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of filteredResultsList; index as i">
                        <td scope="row">{{i+1}}</td>
                        <td>{{result.name}}</td>
                        <td>{{result.department}}</td>
                        <td>{{result.opdtimings}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>