<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <!-- hospital logo here -->
        <div class="col-2">
            <img src="/assets/header-images/logo.jfif" class="img-fluid rounded-top" alt="logo">
        </div>
        <!-- carousal here -->
        <div class="col-10">
            <div id="headerCarousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#headerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                    <li data-bs-target="#headerCarousel" data-bs-slide-to="1" aria-label="Second slide"></li>
                    <li data-bs-target="#headerCarousel" data-bs-slide-to="2" aria-label="Third slide"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="/assets/header-images/groupDoctors.jpg" class="w-100 d-block" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/header-images/hospitalBed.jpeg" class="w-100 d-block" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/header-images/operationTheatre.jpg" class="w-100 d-block" alt="Third slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#headerCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#headerCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
