<nav class="navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find your doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Patient Portal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Doctor Portal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin Portal</a>
            </li>
        </ul>
        <div class="d-flex appointment">
            <app-appointment></app-appointment>
        </div>
    </div>
</nav>