.navbar {
    background-color: cornflowerblue;
}

.nav-link {
    color: aliceblue;
}

.nav-item {
    padding-right: 3em;
}

@media (max-width: 479px) {
    .navbar {
        background-color: transparent;
    }
    .nav-link {
        color: grey;
    }
}