.navbar {
    background-color: cornflowerblue;
}

.nav-link {
    color: aliceblue;
}

.nav-item, .appointment {
    padding: 5px;
}

.btn-login {
    background-color: darkblue;
    color: white;
}

@media (max-width: 479px) {
    .navbar {
        background-color: transparent;
    }
    .nav-link {
        color: grey;
    }
    .nav-item, .appointment {
        margin-left: 1em;
    }
}