<!-- Modal trigger button -->
<button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
    Book Appointment
</button>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-keyboard="true" role="dialog" aria-labelledby="modalTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Schedule Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
                    <!-- name of the patient -->
                    <div class="mb-3">
                        <input type="text" class="form-control" id="fullname" aria-describedby="helpId"
                            placeholder="Full Name" formControlName="patientName">
                        <small id="helpId" class="form-text text-muted m-2">name of patient</small>
                    </div>
                    <!-- name of the doctor -->
                    <div class="mb-3">
                        <select class="form-select form-select-md" id="doctorname" formControlName="doctorsName">
                            <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.name}}</option>
                        </select>
                        <small id="helpId" class="form-text text-muted m-2">name of doctor</small>
                    </div>
                    <!-- date of birth -->
                    <div class="mb-3">
                        <input class="form-control" id="date" placeholder="MM/DD/YYY" type="date"
                            formControlName="dateOfBirth" />
                    </div>
                    <!-- phone number -->
                    <div class="mb-3">
                        <input type="text" class="form-control" id="phone" aria-describedby="helpId"
                            placeholder="phone number" formControlName="phoneNumber">
                    </div>
                    <div class="modal-footer">
                        <span>
                            <p style="opacity: 50% !important;">**We will get back to you on your phone number for
                                confirmation
                            </p>
                        </span>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
</script>