<div class="container-fluid m-2">
    <div class="row justify-content-center g-2">
        <div class="col-2">
            <figure class="text-start" style="opacity: 70%;">
                <blockquote class="blockquote">
                    <p>We are what we repeatedly do. Excellence then, is not an act, but a habit.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Greek philosopher <cite title="Source Title">Aristotle</cite>
                </figcaption>
            </figure>
            <div>
                <img src="/assets/md.jpg" class="img-fluid rounded-top" alt="managing director of GR Hospital">
                <span>
                    <p class="managing-director">
                        Managing Director <br>
                        <strong>Shri. David D'Souza</strong>
                    </p>
                </span>
            </div>
        </div>
        <!-- about us here -->
        <div class="col-10 p-2">
            <!-- name of the hospital here -->
            <div>
                <h1>Ganga Ram Das Multi-speciality Hospital Ltd., Jamshedpur</h1>
            </div>
            <p class="aboutusContent">Ganga Ram Das Hospital Pvt. Ltd., headquartered at Jamshedpur,Tatanagar in the
                state of Jharkhand, is one of the topmost multi-specialty hospital chains in Jharkhand engaged in
                providing primary as well as tertiary healthcare services. Ganga Ram Das Hospital Hospitals offers
                unparalleled excellence in patient care, education and research assisted by a world class team of
                doctors, nurses, technicians, and other experts. Ganga Ram Das Hospital is well known for its ethical
                medical practices and its multi-disciplined health care enables it to achieve clinical outcomes on par
                with international standards at a fraction of the international costs.</p>

            <section>
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Mission</h4>
                                <p class="card-text">'Compassionate patient care' is the divine oath taken by Ganga Ram Das
                                    Hospital. We ensure the highest quality, safe patient care with a continuing and meaningful
                                    commitment. We adopt latest technologies and techniques rapidly and provide personalized
                                    care to every patient at every time that exceeds their expectations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Vision</h4>
                                <p class="card-text">Ganga Ram Das Hospital strives to be the premier health care provider in
                                    India and the finest destination in tertiary care. Holding a high Standard of medical
                                    ethics, Meditrina Hospitals assures its services to be made available equitably on the basis
                                    of need</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>